<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{if:title}}{{title}} - {{end}}Noel Berry</title>
	<meta name="description" content="Sometimes, when I'm in the right mood, I make video games and art. Or something.">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{{if:title}}<meta property="og:title" content="{{title}}">{{end}}
	{{if:site_url}}<meta property="og:url" content="{{site_url}}">{{end}}
	{{if:description}}<meta property="og:description" content="{{description}}">{{end}}
	{{if:postcard}}<meta property="og:image" content="{{site_url}}/{{postcard}}">{{end}}
	<meta property="og:type" content="article">

	<link rel="apple-touch-icon" href="icon.png">
	<link rel="icon" href="{{rel}}img/ico.png">
	<link rel="shortcut icon" href="{{rel}}img/ico.png" type="image/x-icon">
	<link rel="stylesheet" href="{{rel}}css/normalize.css">
	<link rel="stylesheet" href="{{rel}}css/style.css">
	<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{rel}}rss.xml" />

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>

<body>

	<div class="wrapper">

		<div class="header">
			<div class="name">
				<a href="{{rel}}index.html">Noel Berry</a>
			</div>
			<div class="social">
				<a rel="me" href="https://mastodon.social/@noelfb"><img src="{{rel}}img/mastodon.png" alt="Mastodon"/></a>
				<a href="https://noelfb.bsky.social"><img src="{{rel}}img/bsky.png" alt="Bluesky"/></a>
				<a href="https://twitch.tv/noelfb"><img src="{{rel}}img/twitch.png" alt="Twitch"/></a>
				<a href="https://instagram.com/thenberry"><img src="{{rel}}img/instagram.png" alt="Instagram"/></a>
				<a href="https://github.com/noelfb"><img src="{{rel}}img/github.png" alt="GitHub"/></a>
				<a href="mailto:thenberry@gmail.com"><img src="{{rel}}img/email.png" alt="Email"/></a>
			</div>
		</div>

		<div class="main">