html {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-style: normal;
}

body {
	padding: 40px 5vw 40px 5vw;
	color: #272446;
	background: #e1dacd;
	line-height: 1.5em;
	font-size: 1.1em;
}

a {
	color: #37946e;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: #000;
}

code {
	color: #846d70;
	background: #d9ceb9;
	border: 1px solid #d4c6ad;
	border-radius: 4px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 0.9em;
}

.wrapper {
	width: min(800px, 100%);
	margin: 0px auto;
}

.header {
	width: 100%;
	margin-bottom: 40px;
	border-bottom: 4px dashed #004896;
	padding-bottom: 40px;
	display: inline-block;
}

.header .name {
	font-size: 4.0em;
	line-height: normal;
	color: #37946e;
	font-weight: bold;
	text-align: center;
}

.header .social {
	margin-top: 10px;
	text-align: center;
}
.header .social img {
	image-rendering: pixelated;
}
.header .social a:hover img {
	filter: brightness(0%);
}

@media (max-width: 880px)
{
	body { padding: 5vw; }
	.header { margin-bottom: 3vw; padding-bottom: 3vw; }
	.header .name { font-size: 8vw; }
	.header .social img { width: 8%; }
}

/* Main Content */

.main h1 { margin-bottom: 15px; }
.main p { margin-bottom: 15px; }
.main > .bottom-margin { margin-bottom: 50px; }

.info h2 { margin: 0; }

/* Games */
.games { margin-bottom: 40px; display: inline-block; }
.games .entries {
	width: 100%;
	float: left;
}
.games .entry {
	width: 49%;
	padding-bottom: 24%;
	margin-bottom: 2%;
	float: left;
	position: relative;
	overflow: hidden;
}

.games .entry:nth-child(even) { float: right; }

.games .entry .preview {
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	background-position: center;
	background-size: cover;
	transition: top 0.25s, left 0.25s, right 0.25s, bottom 0.25s;
}
.games .entry .fade {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	background: #37946e;
	transition: opacity 0.25s;
}

.games .entry .title {
	position: absolute;
	width: 100%;
	top:50%;
	transform: translateY(-25%);
	text-align: center;
	font-weight: bold;
	color: #fff;
	font-size: 1.5em;
	opacity: 0.0;
	text-transform: uppercase;
	filter: drop-shadow(2px 2px 0px #000);
	transition: opacity 0.25s, transform 0.25s, padding 0.2s;
}

.games .entry:hover .preview {
	left: -2%; top: -2%; right: -2%; bottom: -2%;
}
.games .entry:hover .fade {
	opacity: 0.5;
}
.games .entry:hover .title {
	opacity: 1.0;
	transform: translateY(-50%);
}

.games .entry:nth-child(n+5) { padding-bottom: 12%; }
.games .entry:nth-child(n+5) .title { font-size: 1.2em; }
.games .entry:nth-child(n+11) { display: inline-block; padding: 0; margin: 0; }
.games .entry:nth-child(n+11) .fade { display: none; }
.games .entry:nth-child(n+11) .preview { display: none; }
.games .entry:nth-child(n+11) .title { opacity: 1.0; color: #000; font-size: 1.0em; position: relative; text-align: left; filter: none; transform: translateY(0); }
.games .entry:nth-child(n+11):hover .title { transform: translateY(0); padding-left: 16px; }
.games .entry:nth-child(n+11) .title::before { content: " >"; font-family: sans-serif;  }

/* Writings */

.writings .entry {
	background: #306082;
	color: #ffffff;
	padding: 16px;
	box-sizing: border-box;
	display: block;
	margin: 0 0 8px 0;
}

.writings .entry:hover {
	background: #e86e9f;
	transition: background-color 0.1s;
}

.writings .entry h2 {
	padding: 0;
	margin: 0;
}

.writings .entry h3 {
	padding: 0;
	margin: 0;
	font-size: 0.9em;
	opacity: 0.7;
}

.writings .entry p {
	padding: 0;
	margin: 8px 0 0 0;
}

.writings .entry:nth-child(n + 3) { padding: 8px; }
.writings .entry:nth-child(n + 3) h2 { font-size: 0.9em; }
.writings .entry:nth-child(n + 3) h3 { display: none; }
.writings .entry:nth-child(n + 3) p { display: none; }

.post {
	width: 100%;
	float: left;
}

.post > .postcard {
	width: 100%;
	float: left;
	border-radius: 16px;
	margin-bottom: 20px;
}

.post-title {
	text-align: center;
}
.post-title h1 { font-weight: bold; line-height: normal; }
.post-title h3 { color: #306082; font-style: italic; }

.post-body {
	width: 100%;
}

.post-body h1 {
	font-size: 1.6em;
	font-weight: bold;
	margin: 2em 0 0.25em 0;
	padding: 0;
	color: #40426b;
}

.post-body h2 {
	font-size: 1.4em;
	font-weight: bold;
	margin: 2em 0 0.25em 0;
	padding: 0;
	color: #40426b;
}

.post-body h3 {
	font-size: 1.1em;
	font-weight: bold;
	margin: 2em 0 0.25em 0;
	padding: 0;
	color: #40426b;
}

.post-body img {
	max-width: 90%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 8px;
	box-shadow: 8px 8px 0 #37946e;
}

.post-links {
	float: left;
	margin-top: 25px;
}

.post-links a::before {
	content: " >"
}

/* Mastodon Replies */

.post-replies {
	width: 100%;
	margin-top: 60px;
}

.post-replies .replies {
	width: 100%;
}

.post-replies ol {
	padding: 0;
	margin: 0;
}

.post-replies ol li {
	list-style-type: none;
	background: #f3eae5;
	border-radius: 4px;
	padding: 16px;
	box-sizing: border-box;
	margin-bottom: 10px;
}
.post-replies ol li:nth-child(1) { display: none; }

.toot .user {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-evenly;
	align-content: flex-start;
	height: 46px;
	column-gap: 0.5rem;
	text-decoration: none;
	color: inherit;
}
.toot .avatar {
	border-radius: 4px;
}
.toot .display-name {
	font-weight: bold;
	flex: 1;
	height: 16px;
	font-size: 0.9em;
	display: block;
}
.toot .username {
	display: block;
	flex: 1;
	height: 16px;
	font-size: 0.8em;
	color: #999;
}
.toot .permalink {
	text-decoration: none;
	display: block;
	color: #999;
	float: right;
	font-size: 0.8em;
}
.toot .permalink:hover {
	text-decoration: underline;
}
.toot .body {
	clear: both;
}
.toot .body a {
	overflow-wrap: anywhere;
}
.toot .body p { margin: 0; }

@media (max-width: 600px)
{
	.toot .permalink { display: none; }
}

/* Footer */

.footer {
	width: 100%;
	display: inline-block;
}

.footer .content {
	border-top: 4px dashed #004896;
	width: 100%;
	padding-top: 40px;
	margin-top: 40px;
	font-weight: bold;
	text-align: center;
	opacity: 0.8;
}

@media (max-width: 880px)
{
	.footer .content { padding-top: 5vw; margin-top: 5vw; }
}

/* Misc. */

.button-in::after {
	content: " >"
}
.button-out::before {
	content: "< "
}
